@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

#chooseRegionMap{
	height: 47rem;
	width: 25rem;
	border: 5px black solid;
	border-radius: 5px;
}

.card2focus {
	border:5px blue solid;
}

.fill_loading {
	height: 100vh;
}

div.loading_CSSFX {
	border: 3px solid hsla(185, 100%, 62%, 0.2);
	border-top-color: #3cefff;
	border-radius: 50%;
	width: 3em;
	height: 3em;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
